<div class="right-part">
    <div class="page-heading">
      <h4>Applicants Detail</h4>
    </div>
    <div class="text-center" *ngIf="!applicantArr.length">
        <span class="nojob"> No Job Available </span>
      </div>
    <div class="table-responsive" *ngIf="applicantArr.length">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let applicant of applicantArr">
            <td>{{applicant.name}}</td>
            <td>{{applicant.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
