<div class="header-wrapper">
  <section>
    <div class="container-fluid">
      <div class="header-inner">
        <div class="row">
          <div class="col-md-2 col-4">
            <div class="logo-wrapper">
              <a href="javascript:void(0);">
                <img src="assets/images/logo.png" alt="Tooprak" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-md-10 col-8">
            <div class="upper-menu">
              <ul>
                <li class="nav-item">
                  <p>Hi, {{userDetail.name}} </p>
                </li>
                <li class="nav-item">
                  <a title="Logout" class="logout nav-link" (click)="logOut()"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>